# General
node_modules/
dist/
.env
.DS_Store
.idea/
.vscode/

# Backend
backend/target/
backend/.mvn/
backend/.gradle/
backend/logs/

# Frontend
frontend/node_modules/
frontend/.vite/

# Docker
docker/data/
docker/postgres/
